body{
    background-image: url("./gambar/img.gif");
    background-size: cover;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.kalender{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5e3ec;
    font-weight: bolder;
    border-radius: 5%;
    padding: 10px 30px;
    width: 30vw;
    border-spacing: 0px;
}
.kalender .hari-hari th{
    background-color: #e090df;
    min-width: 3.5vw;
    
}
header div {
    display: flex;
    align-items:center;
    justify-content: center;
    /* background-color: #23242a; */
    font-size: 48px;
    font-weight: bolder;
    color: whitesmoke;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.kalender td{
    text-align: center;
    height: 8vh;
    opacity: .75;
    min-width: 3.5vw;
}
.kegiatan td {
    text-align: left;
    font-weight: normal;
}
.kegiatan .tgl-bulan-tahun {
    font-size: 24px;
}

.kalender .sisa {
    opacity: .5;
}

a.sedang:link, a.sedang:visited {
    color:blue;
    text-decoration:overline;
}

.kalender .bulan-tahun {
    font-size: 24px;
}

.kalender .sisa {
    opacity: .2;
}
.now {
    border-radius: 100%;
    background-color: #FBBEDE;

}
footer {
    display: flex;
    align-items: center;
    justify-content:center;
    /* background-color: black; */
    height: 11.5vh;
    
}
.ukdw {
    height: 45%;
    width: auto;
}
footer span {
    color: white;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}
