* {
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    background-color: #8f8f8f;

}
.kalender, .kegiatan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #E5E5CB;
    font-weight: bolder;
    border-radius: 5%;
    padding: 10px 30px;
    height: 70vh;
    width: 30vw;
}
.judul, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23242a;
    font-size: 48px;
    font-weight: bolder;
    color: #D5CEA3;
    height: 15vh;
}
.kalender td, .kegiatan td {
    text-align: center;
    height: 10vh;
    width: 10vw;
    opacity: .75;
}
.kegiatan td {
    text-align: left;
    font-weight: normal;
}
.bulan-tahun {
    font-size: 24px;

}

.sisa {
    opacity: .5;
}
.kalender td:hover{
    background-color: #8f8f8f;
    box-shadow: 2px 2px grey;
}
.kegiatan td:nth-child(even){
    opacity: .3;
}
.now {
    border-radius: 100%;
    background-color: #8f8f8f;

}