body{
    background-image: url("./gambar/img.gif");
    background-size: cover;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.kalender{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5e3ec;
    font-weight: bolder;
    border-radius: 5%;
    padding: 10px 30px;
    width: 30vw;
    border-spacing: 0px;
}
.kalender .hari-hari th{
    background-color: #e090df;
    min-width: 3.5vw;
    
}
header div {
    display: flex;
    align-items:center;
    justify-content: center;
    /* background-color: #23242a; */
    font-size: 48px;
    font-weight: bolder;
    color: whitesmoke;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.kalender:nth-child(2) {
    margin-left: 20px;
}

.kalender td{
    text-align: center;
    height: 8vh;
    /* opacity: .75; */
    min-width: 3.5vw;
}
.kegiatan td {
    text-align: left;
    font-weight: normal;
}
.kegiatan .tgl-bulan-tahun {
    font-size: 24px;
}

.kalender .sisa {
    opacity: .5;
}

.ada-tugas {
    text-decoration: overline;
}

.kalender .bulan-tahun {
    font-size: 24px;
}

.kalender .sisa {
    opacity: .2;
}
.now {
    border-radius: 100%;
    background-color: #FBBEDE;

}

.ngisor-dewe {
    display: flex;
    justify-content: space-evenly;
}
.ngisor-dewe span {
    font-size: 8.5pt;
    font-family: "Calibri";
}
.level-1, .level-2, .level-3{
    height: 10px;
    width: 10px;
    background-color: green;
}
.level-2 {
    background-color: rgb(24, 163, 228);
}
.level-3 {
    background-color: red;
}

footer {
    display: flex;
    align-items: center;
    justify-content:center;
    /* background-color: black; */
    height: 11.5vh;
    
}
.ukdw {
    height: 45%;
    width: auto;
}
footer span {
    color: white;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}

.kegiatan {
    text-align: center;
    height: auto;
}
.dropdown-container {
    position: absolute;
    display:none;
    text-align: left;
    transition: all 0.3s ease;


}
.dropdown {
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    display: none;
}
.container-ada-tugas:hover .dropdown-container{
    height: auto;
    width: auto;
    padding: 10px;
    display: block;
    background-color:#f8d5e7;
    border-radius: 10%;

}
.hariBiasa:hover .dropdown-container{
    height: auto;
    width: auto;
    padding: 10px;
    display: block;
    background-color:#f8d5e7;
    border-radius: 10%;

}


.dropdown-container:hover {
    height: auto;
}
.dropdown-container:hover .dropdown {
    display: inline;
    height: auto;
}

.dropdown-container:hover .kegiatan {
    display: none;
}

.keg {
    min-width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    /* display: block; */
    font-weight:900;
}


a.penting:link, a.penting:visited {
    color:white;
    background-color: rgb(243, 175, 175);
    min-width: 200px;
    border-color: red;
    color: red;
}

a.sedang:link, a.sedang:visited {
    color:blue;
    background-color: rgb(185, 220, 236);
    
}

a.kurang:link, a.kurang:visited {
    color:white;
    background-color: rgb(152, 235, 152);
    color: green;
    border-color: rgba(33, 211, 33);
}

#next, #prev {
    cursor: pointer;
}

