body{
    background-image: url("../gambar/img.gif");
    background-size: cover;
    margin:0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.kegiatan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5e3ec;
    font-weight: bolder;
    border-radius: 5%;
    padding: 10px 30px;
    border-spacing: 0px;
    width: 30.2vw;
}

.kegiatan:nth-child(2) {
    margin-left: 20px;
}

.kegiatan .hari-hari th{
    background-color: #e090df;
}

header {
    position: sticky;
    top: 0;
}
header nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-between;
    /* background-color: #23242a; */
    font-weight: bolder;
    color: whitesmoke;
    /* background-color: black; */
    margin-bottom: 5vh;
}
header > nav > .brand {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 3%;
    font-size: 48px;
}
header > nav > ul {
    margin-right: 3% ;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header > nav > ul > li {
    padding: 15px;
}
header > nav > ul > li a:link , header > nav > ul > li a:visited {
    color: white;
} 
.simbol-penting {
    width: 10%;
    height: auto;
}
.kegiatan td {
    text-align: left;
    height: 8vh;
    width: 10vw;
    /* opacity: .75; */
}
.kegiatan .tgl-bulan-tahun {
    font-size: 24px;
}

.kegiatan td:nth-child(even){
    opacity: 1;
    text-align: center;
}

.kegiatan .go-back:nth-child(1), .kegiatan .go-back:nth-child(2){  
    text-align: center;
}

.gambar-kakom {
    height:auto;
    width: 100%;
    
}
.now {
    border-radius: 100%;
    background-color: #e090df; 
    opacity: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content:center;
    /* background-color: black; */
    height: 11.5vh;
    
}
.ukdw {
    height: 45%;
    width: auto;
}
footer span {
    color: white;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}
