body{
    background-image: url("../gambar/img.gif");
    background-size: cover;
    margin:0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.kegiatan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5e3ec;
    font-weight: bolder;
    border-radius: 5%;
    padding: 10px 30px;
    height: 70vh;
    width: 30vw;
    border-spacing: 0px;
}

.kegiatan .hari-hari th{
    background-color: #e090df;
}
header div {
    display: flex;
    align-items:center;
    justify-content: center;
    /* background-color: #23242a; */
    font-size: 48px;
    font-weight: bolder;
    color: whitesmoke;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.kegiatan td {
    text-align: center;
    height: 8vh;
    width: 10vw;
    opacity: .75;
}
.kegiatan td {
    text-align: left;
    font-weight: normal;
}
.kegiatan .tgl-bulan-tahun {
    font-size: 24px;
}

.kegiatan td:nth-child(even){
    opacity: .5;
    text-align: center;
}

.kegiatan .go-back {  
    text-align: center;
}
.now {
    border-radius: 100%;
    background-color: #e090df; 
    opacity: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content:center;
    /* background-color: black; */
    height: 11.5vh;
    
}
.ukdw {
    height: 3vh;
    width: auto;
}
footer span {
    color: white;
    font-size: 9pt;
    font-family: 'Times New Roman', Times, serif;
}


